<?xml version="1.0"?>
<Clients>
	<Client>
		<Username>Thomas</Username>
		<Dark>true</Dark>
		<Resolution>
			<Width>600</Width>
			<Height>800</Height>
		</Resolution>
	</Client>
	<Client>
		<Username>Jules</Username>
		<Dark>false</Dark>
		<Resolution>
			<Width>800</Width>
			<Height>600</Height>
		</Resolution>
	</Client>
</Clients>
