<?xml version="1.0"?>
<Clients>
	<Client>
		<Username>Thomas</Username>
		<Dark>false</Dark>
		<Resolution>
			<Width>800</Width>
			<Height>600</Height>
		</Resolution>
	</Client>
	<Client>
		<Username />
		<Dark>false</Dark>
		<Resolution>
			<Width>800</Width>
			<Height>600</Height>
		</Resolution>
	</Client>
	<Client>
		<Username>Jules</Username>
		<Dark>false</Dark>
		<Resolution>
			<Width>800</Width>
			<Height>600</Height>
		</Resolution>
	</Client>
	<Client>
		<Username>Greg</Username>
		<Dark>false</Dark>
		<Resolution>
			<Width>800</Width>
			<Height>600</Height>
		</Resolution>
	</Client>
</Clients>
